<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Filters</display-name>
  
  <servlet>
  	<servlet-name>myServlet</servlet-name>
  	<servlet-class>filterRegis.RegisServ</servlet-class>
  </servlet>
  
  <servlet-mapping>   
  	<servlet-name>myServlet</servlet-name>
  	<url-pattern>/myServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
  <filter-name>aaa</filter-name>
  <filter-class>filterRegis.RegisFil</filter-class>
  </filter>
  
  <filter-mapping>
  <filter-name>aaa</filter-name>
  <url-pattern>/myServlet</url-pattern>
  </filter-mapping>
 
  <context-param>
  	<param-name>dclass</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:mysql://localhost:3306/Prodapt</param-value>
  </context-param>
  
   <context-param>
  	<param-name>userName</param-name>
  	<param-value>root</param-value>
  </context-param>
  
   <context-param>
  	<param-name>password</param-name>
  	<param-value>root</param-value>
  </context-param>
  
  <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
</web-app>