<br>
<section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
            <img src="https://img.freepik.com/premium-photo/front-view-online-shopping-concept_23-2148625711.jpg?w=900" alt="" />
        </figure>
        <div class="article-body">
          <h2>VARITIES WE OFFER</h2>
          <p>
             We believe that the joy of shopping lies in the ability to find exactly what you desire. From the latest fashion trends to cutting-edge electronics we have it all under one roof.
          </p>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
            <img src="https://img.freepik.com/free-photo/eid-shopping-trolley-laptops-perspective-view_187299-38654.jpg?w=900&t=st=1694956119~exp=1694956719~hmac=47eb9851b309f409d9218180162f1326fc7cf300eceeedf85274241e28edf461" alt="" />
        </figure>
        <div class="article-body">
          <h2>QUALITY ASSURANCE</h2>
          <p>
             We understand that true happiness stems from owning products of exceptional quality. We diligently curate our offerings,to ensure that each item meets stringent quality standards. Your satisfaction is our primary goal.
          </p>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="https://img.freepik.com/premium-photo/brown-paper-bag-is-table_948735-97606.jpg?w=900" alt="" />
        </figure>
        <div class="article-body">
          <h2>HAPPY SHOPPING</h2>
          <p>
            Happy Shopping is not just a retail platform; We invite you to embrace the joy of shopping with us, to explore, discover, and find happiness in every purchase. Thank you for choosing Happy Shopping
          </p>
        </div>
      </div>
    </article>
  </section>