<div appDeptDirective [dept]="employee.dept" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Employee {{employee.eName | lowercase}} Details</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
      <p class="card-text">
        Employee ID : {{employee.eid}} <br>  Employee Name : {{employee.eName}} <br>
        Employee Salary : {{employee.salary}} <br> Employee Department : {{employee.dept}}
      </p>
      
    </div>
  </div>