<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Filterex2</display-name>
 <filter>
  <filter-name>filt1</filter-name>
  <filter-class>FilterEx2.MyFilter</filter-class>
  </filter>
<filter-mapping>
<filter-name>filt1</filter-name>
<url-pattern>/action2</url-pattern>
</filter-mapping>  
<servlet>
<servlet-name>serv1</servlet-name>
<servlet-class>FilterEx2.MyServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>serv1</servlet-name>
<url-pattern>/action2</url-pattern>
</servlet-mapping>
<context-param>
	<param-name>dClass</param-name>
	<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<context-param>
	<param-name>url</param-name>
	<param-value>jdbc:mysql://localhost:3306/employee</param-value>
	</context-param>
	<context-param>
	<param-name>userName</param-name>
	<param-value>root</param-value>
	</context-param>
	<context-param>
	<param-name>password</param-name>
	<param-value>root</param-value></context-param>
</web-app>